.info{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin:7% 10px;
}

@media (max-width:450px){
  .info{
    zoom:60%;
  }
}

.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--container-bg-color);
  width: 500px;
  height: 500px;
  margin: -2% 5%;
  border-radius:30px;
  overflow: hidden;
  box-shadow: 0 8px 15px #00000066;
  margin:30px;
  color: var(--text-color);
  padding-bottom: 20px;
}

.pfp {
  align-self: flex-start;
  padding: 10px;
  box-shadow: 0 8px 15px #00000066;
  height: 150px;
  width: 150px;
  border-radius: 100%;
  margin: 20px;
}

.top {
  display: flex;
  align-self: flex-start;
  flex-wrap: wrap;
}

.profileName {
  font-size: 135%;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 270px;
  margin-top: 20px;
  margin-right: 20px;

}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 460px;
  margin: 20px;
  height: 260px;
}

.profileDesc {
  width: inherit;
  height: inherit;
}

.profileDescText {
  margin: 15px;
  font-family: sans-serif;
  text-wrap: wrap;
  font-weight: bold;
}

.socials {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  justify-content: space-evenly;
  padding-top:10px;
}

#social {
  width:40px;
  height:40px;
  font-size: 35px;
  margin: 13px;
  margin-left:0px;
}


/* Light Mode */
:root {
  --bg-color: #FFFFFF;
  --text-color: #050505;
  --secondary-text-color: #606770;
  --container-bg-color: #FFFFFF;
  --divider-color: #E4E6EB;
  --button-bg-color: #1877F2;
  --button-hover-bg-color: #155cb0;
  --header-bg: var(--bg-color);
}

/* Dark Mode */
.darkmode {
  --bg-color: #18191A;
  --text-color: #E4E6EB;
  --secondary-text-color: #B0B3B8;
  --container-bg-color: #242526;
  --divider-color: #3A3B3C;
  --button-bg-color: #1877F2;
  --button-hover-bg-color: #155cb0;
  --header-bg: var(--container-bg-color);
}
