

.background {
    background-color: var(--bg-color);
    padding: 20px;
}

.row-container {
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 90%;
    max-width: 550px;
}

.nothing-to-show-div {
    color:var(--text-color)
}


.file-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:auto;
    min-height:40px;
    width:100%;

    background-color: var(--container-bg-color);
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: var(--text-color);
    padding:0px 10px;
}

.file-item i{
    font-size: 25px;
    padding:5px;
}

.file-item:hover {
    color:var(--text-color);
}

.file-item a {
    text-decoration: none;
    color: inherit;
    font-size: 16px;
    
    width:100%;
    height:100%;
    padding:3px;

    display: flex;
    align-items: center;
    text-wrap:wrap;
    word-break: break-all;
}


.innerDiv{
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    padding:5px;
    margin:5px;
}

.separator{
    margin:0px;
    border:none;
    background-color: var(--divider-color);
    width:97%;
    height:1px;
}

.data{
    margin:-10px;
    margin-right:5px;
    width:100%;
    font-size:14px;
    display: flex;
    justify-content: flex-end;
    align-items: self-end;
}

.fa.fa-external-link:hover{
    cursor:pointer
}

#search{
    width:550px;
    padding:15px 20px;
    margin-bottom:12px;
    border-radius:10px;
    outline:none;
    background-color: var(--container-bg-color);
    border-color:var(--button-bg-color);
    border-width:2px;
    color: var(--text-color)
    
  }
  
  @media (max-width: 450px){

    #search{
      width:90%;
    }
  
  }