/* Light Mode */
:root {
    --bg-color: #FFFFFF;
    --text-color: #050505;
    --secondary-text-color: #606770;
    --container-bg-color: #FFFFFF;
    --divider-color: #E4E6EB;
    --button-bg-color: #1877F2;
    --button-hover-bg-color: #155cb0;
    --header-bg: var(--bg-color);
}

/* Dark Mode */
.darkmode {
    --bg-color: #18191A;
    --text-color: #E4E6EB;
    --secondary-text-color: #B0B3B8;
    --container-bg-color: #242526;
    --divider-color: #3A3B3C;
    --button-bg-color: #1877F2;
    --button-hover-bg-color: #155cb0;
    --header-bg: var(--container-bg-color);
}

.postContainer {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:97%;
    height:auto;
  }

#commentSection {
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width:600px;
    width: 97%;
}

.commentContent {
    font-size: 14px;
    padding-bottom: 10px;
    text-wrap: wrap;
    word-break: break-all;
}

.comment {
    margin: 5px 0px;
    display: flex;
    background-color: var(--container-bg-color);
    max-width: 600px;
    width: 95%;
    height: auto;
    color: var(--text-color);
    font-family: Arial, sans-serif;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width:450px) {

    #commentSection {
        width: 97%;
    }

    .comment {
        width: 97%;
    }
}


.commentCropper {
    margin: 10px;
    display: flex;
}

.commentPic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.info p {
    margin: 0px;
}

.info {
    width: 100%;
    margin-right: 10px;
    margin-top: 10px;
}

.commentName {
    font-size: 14px;
    font-weight: bold;
}

.commentTime {
    font-size: 12px;
    color: var(--secondary-text-color);
}

hr {
    background-color: var(--divider-color);
    height: 1px;
    margin: 10px 0;
    border: none;
}