.postContainer {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:97%;
  height:auto;
}

.postContainer:empty:before {
  content:"Nothing to see here";
  color:grey;
  text-align: start;
}

#search{
  max-width:600px;
  width:97%;
  padding:15px 20px;
  margin-top:10px;
  margin-bottom:10px;
  border-radius:10px;
  outline:none;
  background-color: var(--container-bg-color);
  border-color:var(--button-bg-color);
  border-width:2px;
  color: var(--text-color)
  
}

@media (max-width: 450px){
  .postContainer {
    width:97%;
  }

  #search{
    width:97%;
  }

}

/* Light Mode */
:root {
  --bg-color: #FFFFFF;
  --text-color: #050505;
  --secondary-text-color: #606770;
  --container-bg-color: #FFFFFF;
  --divider-color: #E4E6EB;
  --button-bg-color: #1877F2;
  --button-hover-bg-color: #155cb0;
  --header-bg: var(--bg-color);
}

/* Dark Mode */
.darkmode {
  --bg-color: #18191A;
  --text-color: #E4E6EB;
  --secondary-text-color: #B0B3B8;
  --container-bg-color: #242526;
  --divider-color: #3A3B3C;
  --button-bg-color: #1877F2;
  --button-hover-bg-color: #155cb0;
  --header-bg: var(--container-bg-color);
}

