.background {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin:auto;
  }

  i{
    color:rgb(24,119,242)
  }

  body{
    margin:0px;
  }